In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
df = pd.read_csv('Citywide_Mobility_Survey_-_Trip_Survey_2019.csv')

In [79]:
print(df)

           hh_id  trip_weight   home_cms_zone  survey_mode    person_id  \
0       19000235          0.0  Northern Bronx            1   1900023501
1       19000235          0.0  Northern Bronx            1   1900023501
2       19000235          0.0  Northern Bronx            1   1900023501
3       19000235          0.0  Northern Bronx            1   1900023501
4       19000235          0.0  Northern Bronx            1   1900023501
...          ...          ...             ...          ...          ...
85454  199989189         32.5  Inner Brooklyn            1  19998918901
85455  199989189         32.5  Inner Brooklyn            1  19998918901
85456  199989189         32.5  Inner Brooklyn            1  19998918901
85457  199989189         32.5  Inner Brooklyn            1  19998918901
85458  199989189         32.5  Inner Brooklyn            1  19998918901

       person_num  day_num travel_date  travel_date_dow       trip_id  ...  \
0               1        1  05/30/2019                4  1.900000e+12  ...
1               1        2  05/31/2019                5  1.900000e+12  ...
2               1        2  05/31/2019                5  1.900000e+12  ...
3               1        3  06/01/2019                6  1.900000e+12  ...
4               1        3  06/01/2019                6  1.900000e+12  ...
...           ...      ...         ...              ...           ...  ...
85454           1        7  06/27/2019                4  2.000000e+13  ...
85455           1        7  06/27/2019                4  2.000000e+13  ...
85456           1        7  06/27/2019                4  2.000000e+13  ...
85457           1        7  06/27/2019                4  2.000000e+13  ...
85458           1        7  06/27/2019                4  2.000000e+13  ...

       d_purpose_imputed  o_purpose_category_imputed  \
0                     10                       -9998
1                  -9998                           2
2                     10                       -9998
3                      1                           2
4                  -9998                           1
...                  ...                         ...
85454                 63                           8
85455                 63                           8
85456                 63                           8
85457                 63                           8
85458                 63                           8

       d_purpose_category_imputed  d_distance_home  d_distance_work  \
0                               2           4275.9              0.0
1                           -9998            981.2           5204.9
2                               2           4260.5             79.8
3                               1              0.1           4275.8
4                           -9998           1454.0           5596.0
...                           ...              ...              ...
85454                           8           5344.0           5325.1
85455                           8           4775.5           4753.2
85456                           8           5734.7           5713.3
85457                           8           4771.6           4749.4
85458                           8           4750.6           4727.3

      d_distance_school o_location_type d_location_type o_congestion  \
0                   NaN               4               2            1
1                   NaN               2               4            0
2                   NaN               4               2            0
3                   NaN               2               1            0
4                   NaN               1               4            0
...                 ...             ...             ...          ...
85454               NaN               4               4            1
85455               NaN               4               4            1
85456               NaN               4               4            1
85457               NaN               4               4            1
85458               NaN               4               4            1

       d_congestion
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
85454             1
85455             1
85456             1
85457             1
85458             1

[85459 rows x 77 columns]

In [80]:
#筛选需要的字段
select_cols = ['person_id', 'person_num', 'day_num','trip_num', 'trip_duration', 'trip_distance', 'o_purpose', 'o_purpose_category', 'd_purpose', 'd_purpose_category', 'num_non_hh_travelers', 'num_hh_travelers',
               "num_travelers", "mode_type", "driver", "park_location", "park_pay"]
select_df_data = df[select_cols]

In [81]:
print(select_df_data)

         person_id  person_num  day_num  trip_num  trip_duration  \
0       1900023501           1        1         1           11.1
1       1900023501           1        2         2            7.0
2       1900023501           1        2         3           16.7
3       1900023501           1        3         4            9.1
4       1900023501           1        3         5            4.4
...            ...         ...      ...       ...            ...
85454  19998918901           1        7        62            1.3
85455  19998918901           1        7        63           15.6
85456  19998918901           1        7        64           13.4
85457  19998918901           1        7        65           27.3
85458  19998918901           1        7        66            2.2

       trip_distance  o_purpose  o_purpose_category  d_purpose  \
0               13.4      -9998               -9998         10
1                3.6         10                   2      -9998
2                3.4      -9998               -9998      -9998
3                3.7      -9998               -9998          1
4                1.0          1                   1      -9998
...              ...        ...                 ...        ...
85454            0.2         63                   8         63
85455            0.9         63                   8         63
85456            0.8         63                   8         63
85457            1.1         63                   8         63
85458            0.2         63                   8         63

       d_purpose_category  num_non_hh_travelers  num_hh_travelers  \
0                       2                     0                 1
1                   -9998                 -9998             -9998
2                   -9998                 -9998             -9998
3                       1                     0                 1
4                   -9998                 -9998             -9998
...                   ...                   ...               ...
85454                   8                     2                 2
85455                   8                     2                 2
85456                   8                     2                 2
85457                   8                     2                 2
85458                   8                     0                 2

       num_travelers  mode_type  driver  park_location  park_pay
0                  1          6       1            995       995
1              -9998        995     995            995       995
2              -9998        995     995            995       995
3                  1          7       1              1       995
4              -9998        995     995            995       995
...              ...        ...     ...            ...       ...
85454              4          9     995            995       995
85455              4          9     995            995       995
85456              4          9     995            995       995
85457              4          9     995            995       995
85458              2          9     995            995       995

[85459 rows x 17 columns]

In [82]:
select_df_data.dtypes

person_id                 int64
person_num                int64
day_num                   int64
trip_num                  int64
trip_duration           float64
trip_distance           float64
o_purpose                 int64
o_purpose_category        int64
d_purpose                 int64
d_purpose_category        int64
num_non_hh_travelers      int64
num_hh_travelers          int64
num_travelers             int64
mode_type                 int64
driver                    int64
park_location             int64
park_pay                  int64
dtype: object

In [83]:
select_df_data.head()

,person_id,person_num,day_num,trip_num,trip_duration,trip_distance,o_purpose,o_purpose_category,d_purpose,d_purpose_category,num_non_hh_travelers,num_hh_travelers,num_travelers,mode_type,driver,park_location,park_pay
0,1900023501,1,1,1,11.1,13.4,-9998,-9998,10,2,0,1,1,6,1,995,995
1,1900023501,1,2,2,7.0,3.6,10,2,-9998,-9998,-9998,-9998,-9998,995,995,995,995
2,1900023501,1,2,3,16.7,3.4,-9998,-9998,-9998,-9998,-9998,-9998,-9998,995,995,995,995
3,1900023501,1,3,4,9.1,3.7,-9998,-9998,1,1,0,1,1,7,1,1,995
4,1900023501,1,3,5,4.4,1.0,1,1,-9998,-9998,-9998,-9998,-9998,995,995,995,995

In [84]:
select_df_data.isnull().any()

person_id               False
person_num              False
day_num                 False
trip_num                False
trip_duration           False
trip_distance            True
o_purpose               False
o_purpose_category      False
d_purpose               False
d_purpose_category      False
num_non_hh_travelers    False
num_hh_travelers        False
num_travelers           False
mode_type               False
driver                  False
park_location           False
park_pay                False
dtype: bool

In [85]:
select_df_data.isnull().sum()

person_id                0
person_num               0
day_num                  0
trip_num                 0
trip_duration            0
trip_distance           87
o_purpose                0
o_purpose_category       0
d_purpose                0
d_purpose_category       0
num_non_hh_travelers     0
num_hh_travelers         0
num_travelers            0
mode_type                0
driver                   0
park_location            0
park_pay                 0
dtype: int64

In [86]:
select_df_data[select_df_data.isnull().values==True]

,person_id,person_num,day_num,trip_num,trip_duration,trip_distance,o_purpose,o_purpose_category,d_purpose,d_purpose_category,num_non_hh_travelers,num_hh_travelers,num_travelers,mode_type,driver,park_location,park_pay
975,1901268101,1,1,2,5.0,NaN,10,2,10,2,0,1,1,4,995,995,995
977,1901268101,1,1,4,5.0,NaN,50,7,33,6,0,1,1,9,995,995,995
1445,1901839001,1,1,1,5.0,NaN,1,1,997,9,0,1,1,9,995,995,995
1446,1901839001,1,1,2,85.0,NaN,997,9,997,9,0,1,1,9,995,995,995
3231,1903803901,1,1,1,20.0,NaN,1,1,10,2,0,1,1,7,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78845,1996167101,1,1,5,45.0,NaN,33,6,1,1,0,1,1,9,995,995,995
79452,1996829401,1,1,2,5.0,NaN,33,6,33,6,0,1,1,9,995,995,995
80197,1997577101,1,1,1,30.0,NaN,997,9,1,1,0,1,1,9,995,995,995
82463,19118621201,1,1,1,5.0,NaN,1,1,51,8,0,1,1,9,995,995,995
82978,19255972601,1,1,3,30.0,NaN,1,1,1,1,0,1,1,9,995,995,995

In [87]:
driver = select_df_data.pop('driver')

In [88]:
import tensorflow as tf
dataset = tf.data.Dataset.from_tensor_slices((select_df_data.values, driver.values))

In [89]:
for feat, targ in dataset.take(5):
      print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 1.9000235e+09  1.0000000e+00  1.0000000e+00  1.0000000e+00
  1.1100000e+01  1.3400000e+01 -9.9980000e+03 -9.9980000e+03
  1.0000000e+01  2.0000000e+00  0.0000000e+00  1.0000000e+00
  1.0000000e+00  6.0000000e+00  9.9500000e+02  9.9500000e+02], Target: 1
Features: [ 1.9000235e+09  1.0000000e+00  2.0000000e+00  2.0000000e+00
  7.0000000e+00  3.6000000e+00  1.0000000e+01  2.0000000e+00
 -9.9980000e+03 -9.9980000e+03 -9.9980000e+03 -9.9980000e+03
 -9.9980000e+03  9.9500000e+02  9.9500000e+02  9.9500000e+02], Target: 995
Features: [ 1.9000235e+09  1.0000000e+00  2.0000000e+00  3.0000000e+00
  1.6700000e+01  3.4000000e+00 -9.9980000e+03 -9.9980000e+03
 -9.9980000e+03 -9.9980000e+03 -9.9980000e+03 -9.9980000e+03
 -9.9980000e+03  9.9500000e+02  9.9500000e+02  9.9500000e+02], Target: 995
Features: [ 1.9000235e+09  1.0000000e+00  3.0000000e+00  4.0000000e+00
  9.1000000e+00  3.7000000e+00 -9.9980000e+03 -9.9980000e+03
  1.0000000e+00  1.0000000e+00  0.0000000e+00  1.0000000e+00
  1.0000000e+00  7.0000000e+00  1.0000000e+00  9.9500000e+02], Target: 1
Features: [ 1.9000235e+09  1.0000000e+00  3.0000000e+00  5.0000000e+00
  4.4000000e+00  1.0000000e+00  1.0000000e+00  1.0000000e+00
 -9.9980000e+03 -9.9980000e+03 -9.9980000e+03 -9.9980000e+03
 -9.9980000e+03  9.9500000e+02  9.9500000e+02  9.9500000e+02], Target: 995

In [90]:
train_dataset = dataset.shuffle(len(select_df_data)).batch(1)

In [91]:
def get_compiled_model():
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])
    model.compile(optimizer='adam',
                loss='binary_crossentropy',
                metrics=['accuracy'])
    return model

In [96]:
#LSTM
def get_compiled_LSTMmodel():
    model=tf.keras.models.Sequential()
    model.add(tf.keras.layers.Embedding(output_dim=32,
                                        input_dim=16,
                                        input_length=28))
    #LSTM
    #全连接层
    model.add(tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(units=8)))
    model.add(tf.keras.layers.Dense(units=32,activation='relu'))
    model.add(tf.keras.layers.Dropout(0.3))

    #LSTM
    #输出层
    model.add(tf.keras.layers.Dense(units=2, activation='softmax'))
    model.summary()
    return model

In [93]:
model = get_compiled_model()

In [97]:
LSTMmodel=get_compiled_LSTMmodel()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, 28, 32)            512

 bidirectional_4 (Bidirectio  (None, 16)               2624
 nal)

 dense_26 (Dense)            (None, 32)                544

 dropout_4 (Dropout)         (None, 32)                0

 dense_27 (Dense)            (None, 2)                 66

=================================================================
Total params: 3,746
Trainable params: 3,746
Non-trainable params: 0
_________________________________________________________________

In [98]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(0.003),
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [100]:
model.fit(train_dataset, epochs=10)

Epoch 1/10
17084/85459 [====>.........................] - ETA: 4:40 - loss: nan - accuracy: 0.0000e+00

KeyboardInterrupt:

In [ ]:
#训练过程可视化
import matplotlib as plt


def visu_train_history(train_history, train_metric, validation_metric):
    plt.plot(train_history.history[train_metric])
    plt.plot(train_history.history[validation_metric])
    plt.title('Train History')
    plt.ylabel('train_metric')
    plt.xlabel('epoch')
    plt.legend(['train', 'validation'], loc='upper left')
    plt.show()